.Carousel {
    height: 100%;
    width: 100%;
    background: #3C4044;
    overflow: auto;
}

.CarouselDiv {
    height: 100%;
    width: 100%;
}

.Item {
    width: 70%;
    margin: 2% 15% 2% 15%;
    color: #fafafa;
}

.Graph {
    text-align: center;
    max-height: 96%;
    height: auto;
    width: 100%;
}

@media (max-width: 735px) {
    .CarouselDiv {
        height: calc(100vh - 56px);
    }
}