.Username {
    margin-left: 20px;
}

.Avatar {
    height: 40px;
    width: auto;
    margin: 5px;
}

.ProfileCard {
    min-height: 700px;
    margin: 2%;
    padding: 2%;
}

@media all and (max-width: 500px) {
    .ProfileCard {
        min-height: inherit;
        background: transparent;
        border: 0;
        margin: 0;
        padding: 1%;
    }
}

.AddressRow {
    cursor: pointer;
    text-align: center;
}

.Pagination {
    align-self: center;
    position: absolute;
    bottom: 0px;
}

.Table {
    margin-bottom: 60px;
}
