.Layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.Header {
    background: #1f9952;
    width: 100%;
    flex: 1;
}

.Content {
    flex: 11;
    background: #fafafa;
    overflow: auto;
}