.CreateLinkContainer {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.SuggestBar {
    overflow: hidden;
    flex: 1;
}

.Map {
    flex: 3;
}

.UserInfo {
    position: absolute;
    right: 0;
}

@media (max-width: 735px) {
    .CreateLinkContainer {
        flex-direction: column;
    }

    .SuggestBar {
        flex: 1;
    }

    .Map {
        flex: 2;
    }
}