.CreateLinkContainer {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.SuggestBar {
    overflow: hidden;
    flex: 1;
}

.Map {
    flex: 3;
}

@media (max-width: 735px) {
    .CreateLinkContainer {
        flex-direction: column;
    }

    .SuggestBar {
        flex: 1;
        height: 30vh;
    }

    .Map {
        flex: 2;
        height: 70vh;
    }
}