.SuggestBar {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.SuggestedList {
    overflow: auto;
    flex: 1;
}

.AddressInput {
    width: calc(100% - 6px);
    margin: 3px
}

.SingleAddress {
    text-align: left;
    margin: 3px;
    cursor: pointer;
}

.Buttons {
    width: calc(100% - 4px);
    margin: 2px;
}