.Content {
    padding: 2% 1.5%;
    text-align: center;
}

.ContentText {
    margin-left: 20px;
}

.InfoCard {
    min-height: 700px;
    margin: 2%;
    padding: 1%;
}

@media all and (max-width: 500px) {
    .InfoCard {
        min-height: none;
        background: transparent;
        border: 0;
        margin: 0;
        padding: 1%;
    }
}
