.Header, .UserInfo {
    cursor: pointer;
}

.UserInfo {
    display: flex;
    height: 100%;
    align-items: center;
    position: absolute;
}

.Name {
    white-space: nowrap;
}

/*TODO opening navbar menu*/
.Avatar {
    height: calc(100% - 10px);
    width: auto;
    margin: 5px;
    border-radius: 10%;
    overflow: hidden;
}